.wrap {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.navWrap {
  display: flex;
  flex-direction: column;
  min-width: 224px;
  background-color: #F7F7F7;
}

.navTitleWrap {
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navTitlePrimary {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.navTitleSecondary {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}

.navLinkList {
  list-style: none;
  cursor: pointer;

  & > li > a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    min-height: 44px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 12px 16px;
    color: #82B284;

    &:global.active {
      background-color: #EEEEEE;
    }

    &:hover {
      background-color: #DDDDDD;
    }


    & > img {
      width: 18px;
      height: 16px;
    }
  }
}

.contentWrap {
  width: 100%;
  display: flex;
  flex-grow: 1;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, .072)
}

